/* div {
    width: 400px;
    margin: 50px auto;
    background-color: black;
  } */
  .title{
      position: absolute;
      z-index: 1;
      margin-left: 15%;
      margin-top: 8%;
  }
  h1 {
    text-align: left;
    color: white;
    font-size: 50pt;
    font-family: 'Gill Sans';
    padding-left: 20%;
    padding-top: 20%;
    width: 500px;
  }
  
  h2 {
    text-align: left;
    color: white;
    font-size: 18pt;
    font-family: 'Gill Sans';
    font-weight: normal;
    margin-top: -45px;
    padding-left: 20%;
  }

  p {
    width: 900px;
    text-align: center;
    padding-left: 20%;
    padding-top: 10%;
    font-size: 25pt;
    font-family: 'Gill Sans';
    }

.purple{
        background-color: #573782; 
        /* background-image: url("./tTK-NSCN.png"); */
        height:719px;
        width: 100%;

}

.logo{
    padding-left: 45%;
    margin-top: 10%;
    width:484px;
    z-index: 0;
}